body {
	background-color: #235789;
}

#header {
	background-color: #022f40;
	font-family: Ariel, Helvetica, sans-serif;
}

#Main\ Interface {
	background-color: #38aecc;
	font-family: Roboto, Ariel, sans-serif;
}

footer {
	background-color: #38aecc;
	font-family: Roboto, Ariel, sans-serif;
}

#response {
	height: 5em;
	font-family: Raleway, Ariel, sans-serif;
}