body {
	background-color: #235789;
}

#about {
	background-color: #022f40;
	font-family: Ariel, Helvetica, sans-serif;
}

#Main\ Interface {
	background-color: #38aecc;
	font-family: Roboto, Ariel, sans-serif;
}

footer {
	background-color: #38aecc;
	font-family: Roboto, Ariel, sans-serif;
}

#response {
	min-height: 5em;
	font-family: Raleway, Ariel, sans-serif;
	font-size: 2em;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

li a {
	display: inline;

}