body {
	background-color: #235789;
}

#header {
	background-color: #022f40;
	font-family: Ariel, Helvetica, sans-serif;
}

#Main\ Interface {
	background-color: #38aecc;
	font-family: Ariel, Helvetica, sans-serif;
}

footer {
	background-color: #38aecc;
	font-family: Times New Roman, Times, serif;
}

